<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item detail="false" button vertical="center" lines="full" routerLink="control"> 
    <ion-icon color="dark" name="barbell-outline" slot="start"></ion-icon> 
    <ion-label>
      <p><h2>Semana 1 - Entrenamiento 1</h2>
      <p>Lunes 19/05/2020</p>
      <p>12:00</p>
    </ion-label>
    <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>

  </ion-item>
<!-- Red add button -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="danger" (click)="abrirModalEntrenamiento()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="entrenamiento" routerLink="/entrenamiento">
    <ion-label>Entrenamiento</ion-label>
    <ion-icon name="barbell-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="equipo" routerLink="/equipo">
    <ion-label>Equipo</ion-label>
    <ion-icon name="shield-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="partido" routerLink="/partido">
    <ion-label>Partido</ion-label>
    <ion-icon name="football-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->