<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="infoAlert()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment scrollable value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="programado">
      <ion-label>PROGRAMADO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finalizado">
      <ion-label>FINALIZADO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="todos">
      <ion-label>TODOS</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-item detail="false" button vertical="center" lines="full" routerLink="control"> 
    <ion-icon color="dark" name="barbell-outline" slot="start"></ion-icon> 
    <ion-label>
      <p><h2>Semana 1 - Entrenamiento 1</h2>
      <p>Lunes 19/05/2020</p>
      <p>12:00</p>
    </ion-label>
    <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>

  </ion-item> -->
  <ion-list *ngIf="selectSegment == 'todos'">
    <ion-item-sliding *ngFor="let entrenamiento of entrenamientoId">
      <ion-item detail="false" button vertical="center" lines="full" (click)="getEntrenamientoSelect(entrenamiento.numero, entrenamiento.id, entrenamiento.finalizado, entrenamiento.fecha)" routerLink="control"> 
        <ion-icon color="dark" name="barbell-outline" slot="start"></ion-icon> 
        <ion-label>
          <p><h2 [ngStyle]="{color: getFinalizadoColor(entrenamiento.finalizado)}">Entrenamiento {{entrenamiento.numero}}</h2>
          <p>{{entrenamiento.fecha}}</p>
          <p>{{entrenamiento.hora}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    <!-- <ion-item-options side="start">
      <ion-item-option (click)="editarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
    </ion-item-options> -->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-list *ngIf="selectSegment == 'finalizado'">
  <ion-item-sliding *ngFor="let entrenamiento of finalizados">
    <ion-item detail="false" button vertical="center" lines="full" (click)="getEntrenamientoSelect(entrenamiento.numero, entrenamiento.id, entrenamiento.finalizado, entrenamiento.fecha)" routerLink="control"> 
      <ion-icon color="dark" name="barbell-outline" slot="start"></ion-icon> 
      <ion-label>
        <p><h2 [ngStyle]="{color: getFinalizadoColor(entrenamiento.finalizado)}">Entrenamiento {{entrenamiento.numero}}</h2>
        <p>{{entrenamiento.fecha}}</p>
        <p>{{entrenamiento.hora}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
    </ion-item>
  <!-- <ion-item-options side="start">
    <ion-item-option (click)="editarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
  </ion-item-options> -->
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="borrarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>

<ion-list *ngIf="selectSegment == 'programado'">
  <ion-item-sliding *ngFor="let entrenamiento of programados">
    <ion-item detail="false" button vertical="center" lines="full" (click)="getEntrenamientoSelect(entrenamiento.numero, entrenamiento.id, entrenamiento.finalizado, entrenamiento.fecha)" routerLink="control"> 
      <ion-icon color="dark" name="barbell-outline" slot="start"></ion-icon> 
      <ion-label>
        <p><h2 [ngStyle]="{color: getFinalizadoColor(entrenamiento.finalizado)}">Entrenamiento {{entrenamiento.numero}}</h2>
        <p>{{entrenamiento.fecha}}</p>
        <p>{{entrenamiento.hora}}</p>
      </ion-label>
      <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
    </ion-item>
  <!-- <ion-item-options side="start">
    <ion-item-option (click)="editarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
  </ion-item-options> -->
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="borrarEntrenamiento(entrenamiento.id)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>

<!-- Red add button -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="danger" (click)="abrirModalEntrenamiento()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="entrenamiento" routerLink="/entrenamiento">
    <ion-label>Entrenamiento</ion-label>
    <ion-icon name="barbell-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="equipo" routerLink="/equipo">
    <ion-label>Equipo</ion-label>
    <ion-icon name="shield-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="partido" routerLink="/partido">
    <ion-label>Partido</ion-label>
    <ion-icon name="football-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->