<ion-header>
  <ion-toolbar>
    <ion-buttons  (click)="salirSinGuardar()" slot="start">
      <ion-icon size="large" color="danger" name="close-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons (click)="salirGuardando()" slot="end">
      <ion-icon size="large" color="primary" name="checkmark-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title><b>Añadir equipo</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider><b>Datos del equipo</b></ion-item-divider>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input required id="inputequipo" placeholder="Introducir" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Modalidad</ion-label>
    <!-- <ion-select value="local"> -->
    <ion-select id="modalidad">
      <ion-select-option value="F5">Fútbol Sala</ion-select-option>
      <ion-select-option value="F7">Fútbol 7</ion-select-option>
      <ion-select-option value="F11">Fútbol 11</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Duración de partidos</ion-label>
    <ion-select id="minutos">
      <ion-select-option value="40">40</ion-select-option>
      <ion-select-option value="50">50</ion-select-option>
      <ion-select-option value="60">60</ion-select-option>
      <ion-select-option value="70">70</ion-select-option>
      <ion-select-option value="80">80</ion-select-option>
      <ion-select-option value="90">90</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Nº máximo de convocados</ion-label>
    <ion-select id="convocados">
      <ion-select-option value="12">12</ion-select-option>
      <ion-select-option value="13">13</ion-select-option>
      <ion-select-option value="14">14</ion-select-option>
      <ion-select-option value="15">15</ion-select-option>
      <ion-select-option value="16">16</ion-select-option>
      <ion-select-option value="17">17</ion-select-option>
      <ion-select-option value="18">18</ion-select-option>
      <ion-select-option value="19">19</ion-select-option>
      <ion-select-option value="20">20</ion-select-option>
      <ion-select-option value="21">21</ion-select-option>
      <ion-select-option value="22">22</ion-select-option>
      <ion-select-option value="23">23</ion-select-option>
      <ion-select-option value="24">24</ion-select-option>
      <ion-select-option value="25">25</ion-select-option>
    </ion-select>
  </ion-item>

  
  <!-- <ion-button (click)="UploadFile()">Subir imagen</ion-button>
  <ion-label><b>{{UploadText}}</b></ion-label> 
  <br/><br/>
  <ion-button (click)="AbortUpload()">Cancelar subida</ion-button> -->
</ion-content>
