<ion-tabs>
  <ion-tab-bar slot="bottom">
     <ion-tab-button tab="entrenamiento">
       <ion-label>Entrenamiento</ion-label>
       <ion-icon name="barbell-outline"></ion-icon>
     </ion-tab-button>
     <ion-tab-button tab="equipo">
       <ion-label>Equipo</ion-label>
       <ion-icon name="shield-outline"></ion-icon>
     </ion-tab-button>
     <ion-tab-button tab="partido">
       <ion-label>Partido</ion-label>
       <ion-icon name="football-outline"></ion-icon>
     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>