<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="guardarCambios()" defaultHref="tabs/entrenamiento">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Control de entrenamiento {{numEntrenamiento}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label>Entrenamiento finalizado</ion-label>
    <ion-toggle checked="{{entFinalizado}}" color="primary" id="entFinalizado"></ion-toggle>
  </ion-item>
  <ion-item-divider><ion-label>Cargar Entrenamiento</ion-label></ion-item-divider>
  <ion-item *ngIf="enlaceDescarga == '' && this.dataService.plataforma == 'web'" lines="full">
    <!-- <ion-label>Cargar Entrenamiento</ion-label> -->
    <ion-input style="content: 'Seleccionar archivo';" type="file" accept=".pdf" (change)="inputCambiado($event)"></ion-input>
  </ion-item>
  <ion-item *ngIf="enlaceDescarga == '' && this.dataService.plataforma != 'web'" lines="full">
    <ion-button (click)="elegirArchivo()">Seleccionar archivo</ion-button>
  </ion-item>
  <ion-item *ngIf="enlaceDescarga != '' " lines = "full" id="documento" style="color: blue; text-decoration: underline;">
    <ion-label button (click)="abrirDocumento()">{{textoDescarga}}</ion-label><ion-icon button (click)="borrarDocumento()" color="danger" slot="end" name="trash-outline"></ion-icon>
  </ion-item>
  <ion-item *ngIf="archivo.length > 0">
    <!-- <ion-label>{{archivo.uri.toString().substring(8)}} <br> {{archivo.dataURI}} <br> {{archivo.data.buffer}} <br> {{archivo.name}} <br> {{archivo.mediaType}}</ion-label> -->
    <ion-label>{{archivo}}</ion-label>

  </ion-item>
  <ion-item-divider>Asistencia</ion-item-divider>
  <ion-item lines="full" (click)="listaJugadores()" (click)="checkearAsistencia()">
    <ion-label>Ver jugadores</ion-label>
    <ion-icon id="iconAsistencia" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  
  <ion-list id="listaAsistencia" style="visibility: hidden; display: none; transition: visibility 0.5s;">
    <ion-item *ngFor="let jugador of jugadoresId" detail="false">
      <ion-label>
        <h2>{{jugador.nombre}} {{jugador.apellidos}} </h2>
      </ion-label>
      <ion-checkbox slot="end" color="success" id="asiste{{jugador.id}}"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>