<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/equipo">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" (click) = "getJugadores()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Plantilla</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment scrollable value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>TODOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="por">
      <ion-label>POR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="def">
      <ion-label>DEF</ion-label>
    </ion-segment-button>
    <ion-segment-button value="med">
      <ion-label>MED</ion-label>
    </ion-segment-button>
    <ion-segment-button value="del">
      <ion-label>DEL</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="selectSegment == 'todos'">
    <ion-item-sliding *ngFor="let jugador of jugadoresId">
      <ion-item lines="full" detail="false" button>
        <ion-text id="colorPosition" style="text-transform: uppercase;" [ngStyle]="{color: getPositionColor(jugador.posicion)}">
        <h2 text-left>
          {{jugador.posicion}}
        </h2></ion-text>
        <ion-label>
          <h2>{{jugador.nombre}} {{jugador.apellidos}}</h2>
          <p>
            <h2>"{{jugador.apodo}}"</h2>
          <p>
            <h2>Edad: {{jugador.edad}}</h2>
        </ion-label>
        <h2 text-right >
          {{jugador.dorsal}}  
        </h2>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="selectSegment == 'por'">
    <ion-item-sliding *ngFor="let portero of porteros">
      <ion-item lines="full" detail="false" button>
        <ion-text style="text-transform: uppercase;" id="colorPosition" [ngStyle]="{color: getPositionColor(portero.posicion)}">
        <!-- *ngClass="{'naranja': jugador.posicion == 'POR', 
        'azul': jugador.posicion == 'DEF', 
        'verde': jugador.posicion == 'MED',
        'rojo': jugador.posicion == 'DEL'}" -->
        <h2 text-left>
          {{portero.posicion}}
        </h2></ion-text>
        <ion-label>
          <h2>{{portero.nombre}} {{portero.apellidos}}</h2>
          <p>
            <h2>"{{portero.apodo}}"</h2>
          <p>
            <h2>Edad: {{portero.edad}}</h2>
        </ion-label>
        <h2 text-right >
          {{portero.dorsal}}  
        </h2>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="selectSegment == 'def'">
    <ion-item-sliding *ngFor="let defensa of defensas">
      <ion-item lines="full" detail="false" button>
        <ion-text style="text-transform: uppercase;" id="colorPosition" [ngStyle]="{color: getPositionColor(defensa.posicion)}">
        <!-- *ngClass="{'naranja': jugador.posicion == 'POR', 
        'azul': jugador.posicion == 'DEF', 
        'verde': jugador.posicion == 'MED',
        'rojo': jugador.posicion == 'DEL'}" -->
        <h2 text-left>
          {{defensa.posicion}}
        </h2></ion-text>
        <ion-label>
          <h2>{{defensa.nombre}} {{defensa.apellidos}}</h2>
          <p>
            <h2>"{{defensa.apodo}}"</h2>
          <p>
            <h2>Edad: {{defensa.edad}}</h2>
        </ion-label>
        <h2 text-right >
          {{defensa.dorsal}}  
        </h2>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="selectSegment == 'med'">
    <ion-item-sliding *ngFor="let mediocentro of mediocentros">
      <ion-item lines="full" detail="false" button>
        <ion-text style="text-transform: uppercase;" id="colorPosition" [ngStyle]="{color: getPositionColor(mediocentro.posicion)}">
        <!-- *ngClass="{'naranja': jugador.posicion == 'POR', 
        'azul': jugador.posicion == 'DEF', 
        'verde': jugador.posicion == 'MED',
        'rojo': jugador.posicion == 'DEL'}" -->
        <h2 text-left>
          {{mediocentro.posicion}}
        </h2></ion-text>
        <ion-label>
          <h2>{{mediocentro.nombre}} {{mediocentro.apellidos}}</h2>
          <p>
            <h2>"{{mediocentro.apodo}}"</h2>
          <p>
            <h2>Edad: {{mediocentro.edad}}</h2>
        </ion-label>
        <h2 text-right >
          {{mediocentro.dorsal}}  
        </h2>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="selectSegment == 'del'">
    <ion-item-sliding *ngFor="let delantero of delanteros">
      <ion-item lines="full" detail="false" button>
        <ion-text style="text-transform: uppercase;" id="colorPosition" [ngStyle]="{color: getPositionColor(delantero.posicion)}">
        <!-- *ngClass="{'naranja': jugador.posicion == 'POR', 
        'azul': jugador.posicion == 'DEF', 
        'verde': jugador.posicion == 'MED',
        'rojo': jugador.posicion == 'DEL'}" -->
        <h2 text-left>
          {{delantero.posicion}}
        </h2></ion-text>
        <ion-label>
          <h2>{{delantero.nombre}} {{delantero.apellidos}}</h2>
          <p>
            <h2>"{{delantero.apodo}}"</h2>
          <p>
            <h2>Edad: {{delantero.edad}}</h2>
        </ion-label>
        <h2 text-right >
          {{delantero.dorsal}}  
        </h2>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Red add button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon (click)="abrirModalPlantilla()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
