<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/equipo">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Plantilla</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment scrollable value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>TODOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="porteros">
      <ion-label>POR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="defensas">
      <ion-label>DEF</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mediocentros">
      <ion-label>MED</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delanteros">
      <ion-label>DEL</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <ion-list>

    <ion-item lines="full" detail="false" button *ngFor="let jugador of jugadores | async">
      <ion-text color="danger"> <h2 text-left>
        {{jugadores.posicion}}POR
      </h2></ion-text>
      <ion-label>
        <h2>{{jugadores.nombre}}Sergio{{jugadores.apellidos}} Fernández Osorio</h2>
        <p>
          <h2>{{jugadores.apodo}}"Junny"</h2>
      </ion-label>
      <h2 text-right >
        10{{jugadores.numero}}  
      </h2>
    </ion-item>
  </ion-list>
  <!-- Red add button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon (click)="abrirModalPlantilla()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
