// @font-face{
//   font-family: 'Lobster', cursive;
//   src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// }

// *{
//   font-family: 'Lobster', cursive !important;
// }

ion-title{
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
}
.tabbar {
    justify-content: center;
  }
  
  .tab-button {
    max-width: 200px;
  }


