*{
    font-family: 'Times New Roman', Times, serif;
}

ion-title{
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
}
.tabbar {
    justify-content: center;
  }
  
  .tab-button {
    max-width: 200px;
  }


