<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
<!-- class="ion-padding" -->
<ion-item  button vertical="center" lines="full" routerLink="plantilla">
  <ion-icon slot="start" color="dark" name="people-outline"></ion-icon>
  <ion-label>Plantilla</ion-label>
  <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>  
</ion-item>
<ion-item button vertical="center" lines="full" routerLink="estadisticas">
  <ion-icon slot="start" color="dark" name="stats-chart-outline"></ion-icon>
  <ion-label>Estadísticas</ion-label>
  <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
</ion-item>
<ion-item button vertical="center" lines="full" routerLink="calendario">
  <ion-icon slot="start" color="dark" name="calendar-outline"></ion-icon>
  <ion-label>Calendario</ion-label>
  <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
</ion-item>
</ion-content>
<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="entrenamiento" routerLink="/entrenamiento">
    <ion-label>Entrenamiento</ion-label>
    <ion-icon name="barbell-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="equipo" routerLink="/equipo">
    <ion-label>Equipo</ion-label>
    <ion-icon name="shield-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="partido" routerLink="/partido">
    <ion-label>Partido</ion-label>
    <ion-icon name="football-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->