ion-content{
    --ion-background-color: transparent;
}

.bg-color{
    background: #E1EAF9;
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-color-background: transparent;
    --opacity: 0;
}