ion-content{
    --ion-background-color: transparent;
}

.bg-color{
    background: #E1EAF9;
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-card-title{
    margin-top: 50px !important;
    font-size: 25px;
    color: #53565A;
    font-size: 600;
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
    padding-top: 15px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;
    padding: 0 30px;
}

ion-card-content{
    padding-top: 30px;
}

ion-item{
    color: #74787E;
    --border-color: #D4D7DB;
    --highlight-color-focused: #040454;
    --padding-start: 0;
    --inner-padding-end: 0;
    font-size: 13px;
    ion-input{
        color: #74787E;
        font-size: 13px;
    }
    ion-icon{
        padding-right: 6px;
        font-size: 18px;
    }
}

ion-input:hover{
    color: #040454;
}

.sign-btn-wrap {
    text-align: center;
    padding-top: 20px;
    .sign-btn {
        --ion-color-primary: #040454;
        --background-activated: #E1EAF9;
        --background-focused: #E1EAF9;
        --background-hover: #647B9D;
        border-radius: 25px;
        --background: #040454;
        color: #F4F6FA;
    }
}

.text-tag {
    margin-top: 25px;
    text-align: center;
    span {
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}

.social-btns {
    text-align: center;
    padding-top: 20px;
    ion-button {
        width: 40px;
        padding-left: 10px !important;
    }
}
