<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Partido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment scrollable value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>TODOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jugados">
      <ion-label>JUGADOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pendientes">
      <ion-label>PENDIENTES</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
  <ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="selectSegment == 'todos'">
    <ion-item-sliding *ngFor="let partido of partido">
      <!-- <ion-item detail="false" button vertical="center" lines="full" routerLink="control"> 
        <ion-label>
          <p><h2>Jornada 1</h2>
          <b>Getafe C.F<br/>vs<br/>C.D. San Roque E.F.F.</b>
          <p>19/05/2020 - 12:00</p>
        </ion-label>
        <ion-thumbnail slot="start">
          <img src="../../assets/icon/GETAFE.png">
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <img src="../../assets/icon/escudoSanro.png">
        </ion-thumbnail>

      </ion-item> -->

      <ion-item detail="false" button vertical="center" lines="full" (click)="getPartidoSelect(partido.jornada, partido.id, partido.finalizado, partido.fecha, partido.campo, partido.rival)" routerLink="control"> 
        <ion-label>
          <p><b>Jornada {{partido.jornada}}</b>
          <p><h2 *ngIf="partido.campo == 'local'">{{this.dataService.equipoSelect}} vs {{partido.rival}}</h2>
          <p><h2 *ngIf="partido.campo == 'visitante'">{{partido.rival}} vs {{this.dataService.equipoSelect}}</h2>
          <p>{{partido.fecha}} - {{partido.hora}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline">ELIMINAR</ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="selectSegment == 'jugados'">
    <ion-item-sliding *ngFor="let partido of jugados">
      <!-- <ion-item detail="false" button vertical="center" lines="full" routerLink="control"> 
        <ion-label>
          <p><h2>Jornada 1</h2>
          <b>Getafe C.F<br/>vs<br/>C.D. San Roque E.F.F.</b>
          <p>19/05/2020 - 12:00</p>
        </ion-label>
        <ion-thumbnail slot="start">
          <img src="../../assets/icon/GETAFE.png">
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <img src="../../assets/icon/escudoSanro.png">
        </ion-thumbnail>

      </ion-item> -->

      <ion-item detail="false" button vertical="center" lines="full" (click)="getPartidoSelect(partido.jornada, partido.id, partido.finalizado, partido.fecha, partido.campo, partido.rival)" routerLink="control"> 
        <ion-label>
          <p><b>Jornada {{partido.jornada}}</b>
          <h2 *ngIf="partido.campo == 'local'">{{this.dataService.equipoSelect}} vs {{partido.rival}}</h2>
          <h2 *ngIf="partido.campo == 'visitante'">{{partido.rival}} vs {{this.dataService.equipoSelect}}</h2>
          <p>{{partido.fecha}} - {{partido.hora}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline">ELIMINAR</ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="selectSegment == 'pendientes'">
    <ion-item-sliding *ngFor="let partido of programados">
      <!-- <ion-item detail="false" button vertical="center" lines="full" routerLink="control"> 
        <ion-label>
          <p><h2>Jornada 1</h2>
          <b>Getafe C.F<br/>vs<br/>C.D. San Roque E.F.F.</b>
          <p>19/05/2020 - 12:00</p>
        </ion-label>
        <ion-thumbnail slot="start">
          <img src="../../assets/icon/GETAFE.png">
        </ion-thumbnail>
        <ion-thumbnail slot="end">
          <img src="../../assets/icon/escudoSanro.png">
        </ion-thumbnail>

      </ion-item> -->

      <ion-item detail="false" button vertical="center" lines="full" (click)="getPartidoSelect(partido.jornada, partido.id, partido.finalizado, partido.fecha, partido.campo, partido.rival)" routerLink="control"> 
        <ion-label>
          <p><b>Jornada {{partido.jornada}}</b>
          <h2 *ngIf="partido.campo == 'local'">{{this.dataService.equipoSelect}} vs {{partido.rival}}</h2>
          <h2 *ngIf="partido.campo == 'visitante'">{{partido.rival}} vs {{this.dataService.equipoSelect}}</h2>
          <p>{{partido.fecha}} - {{partido.hora}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash-outline">ELIMINAR</ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
<!-- Red add button -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="danger" (click)="abrirModalPartido()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
