<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="guardarCambios()" defaultHref="tabs/partido">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="infoAlert()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Control de partido {{numPartido}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label>Partido finalizado</ion-label>
    <ion-toggle checked="{{parFinalizado}}" (click)="esconderLista()" color="primary" id="parFinalizado"></ion-toggle>
  </ion-item>
  <ion-item-divider>Convocatoria</ion-item-divider>
  <ion-item lines="full" (click)="listaJugadores()" (click)="checkearConvocatoria()">
    <ion-label>Ver jugadores</ion-label>
    <ion-icon id="iconConvocatoria" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  
  <ion-list id="listaConvocatoria" style="visibility: hidden; display: none; transition: visibility 0.5s;">
    <ion-item *ngFor="let jugador of jugadoresId" detail="false">
      <ion-label>
        <h2>{{jugador.nombre}} {{jugador.apellidos}} </h2>
      </ion-label>
      <ion-checkbox slot="end" color="success" id="convocado{{jugador.id}}" (click)="quitarTitular(jugador.id)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item-divider>Titulares</ion-item-divider>
  <ion-item lines="full" (click)="listaJugadoresTitulares()" (click)="checkearTitulares()">
    <ion-label>Ver jugadores</ion-label>
    <ion-icon id="iconTitulares" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-list id="listaTitulares" style="visibility: hidden; display: none; transition: visibility 0.5s;">
    <ion-item *ngFor="let jugador of jugadoresId" id="itemTit{{jugador.id}}" style="visibility: hidden; display: none" detail="false">
      <ion-label>
        <h2>{{jugador.nombre}} {{jugador.apellidos}} </h2>
      </ion-label>
      <ion-checkbox slot="end" color="success" id="titular{{jugador.id}}"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-item-divider>Resultado</ion-item-divider>
    <!-- <ion-input style="display: inline-block;" type="text" id="localGol">Goles local</ion-input>
    <ion-input style="display: inline-block;" type="text" id="visitanteGol">Goles visitante</ion-input>
    <ion-card size="3">
      <ion-input type="number" id="localGol"></ion-input>
    </ion-card>
    <ion-card size="3">
      <ion-input type="number" id="visitanteGol"></ion-input>
    </ion-card> -->

    <ion-grid>
      <ion-row>
        <ion-col size=6>
          {{equipoLocal}}
        </ion-col>
        <ion-col size=6>
          <ion-icon style="zoom:1.5;" name="remove-circle-outline" color="primary" button (click)="delGolLoc()"></ion-icon>
          <ion-card style="width: 50px; height: 50px;" mode="md">
            <!-- <ion-input style="text-align: center;" type="number" id="localGol"></ion-input> -->
            <ion-label style="text-align: center; font-size: x-large; color: black;" id="localGol">0</ion-label>
          </ion-card>      
          <ion-icon style="zoom:1.5;" name="add-circle-outline" color="primary" button (click)="golLoc()"></ion-icon>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col size=6>
          {{equipoVisitante}}
        </ion-col>
        <ion-col size=6>
          <ion-icon style="zoom:1.5;" name="remove-circle-outline" color="primary" button (click)="delGolVis()"></ion-icon>
          <ion-card style="width: 50px; height: 50px;" mode="md">
            <ion-label style="text-align: center; font-size: x-large; color: black;" id="visitanteGol">0</ion-label>
          </ion-card>      
          <ion-icon style="zoom:1.5;" name="add-circle-outline" color="primary" button (click)="golVis()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>