ion-col {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
ion-card {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
