<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/equipo">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="infoAlert()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Partidos</ion-card-title>
    </ion-card-header>
    <ion-card-content id="pie-chart-div-partidos" style="padding: 0;">
      <ion-item *ngIf="this.noGraphic == true" detail="false" vertical="center" lines="full">  
        <ion-label style="text-align: center;" id="lblPartidosVacios">Disponible tras finalizar partidos</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Goles</ion-card-title>
    </ion-card-header>
    <ion-card-content id="pie-chart-div-goles" style="padding: 0;">
      <ion-item *ngIf="this.noGraphic == true" detail="false" vertical="center" lines="full">  
        <ion-label style="text-align: center;" id="lblPartidosVacios">Disponible tras finalizar partidos</ion-label>
      </ion-item>
      <ion-item *ngIf="this.noGoles == true && this.noGraphic == false" detail="false" vertical="center" lines="full">  
        <ion-label style="text-align: center;" id="lblPartidosVacios">Disponible tras anotar goles</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
