<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/equipo">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="pie-chart-div"></div> -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Partidos</ion-card-title>
    </ion-card-header>
    <ion-card-content id="pie-chart-div-partidos" style="padding: 0;">
      <!-- <div id="pie-chart-div-partidos"></div> -->
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>Goles</ion-card-title>
    </ion-card-header>
    <ion-card-content id="pie-chart-div-goles" style="padding: 0;">
      <!-- <div id="pie-chart-div-goles"></div> -->
    </ion-card-content>
  </ion-card>
</ion-content>
