ion-header {
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-content{
    --ion-background-color: #E1EAF9;

}

.wrapform{
    margin-top: 15px;
}

ion-item {
    color: #647B9D;
    --border-color: #D4D7DB;
    --highlight-color-focused: #1248A0;
    --padding-start: 0;
    --inner-padding-end: 0;
    font-size: 20px;

    ion-icon {
        padding-right: 6px;
        font-size: 20px;
    }
    ion-input {
        color: #647B9D;
    }
    ion-input:hover {
        color: #040454;
    }
}

.password_forgot{
    text-align: right;
    ion-button {
        font-size: 12px;
    }
}

.sign-btn-wrap {
    text-align: center;
    padding-top: 20px;
    .sign-btn {
        --ion-color-primary: #040454;
        --background-activated: #E1EAF9;
        --background-focused: #E1EAF9;
        --background-hover: #647B9D;
        border-radius: 25px;
        --background: #040454;
        color: #F4F6FA;
    }
}

.text-tag {
    margin-top: 25px;
    text-align: center;
    span {
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}

.social-btns {
    text-align: center;
    padding-top: 20px;
    ion-button {
        width: 40px;
        padding-left: 10px !important;
    }
}

ion-card {
    --ion-background-color: transparent !important;
    box-shadow: none !important;
}

.ion-card-footer{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

    span{
        color: #85888D;
        font-size: 13px;
        font-weight: 200;
    }
}

button {
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3px !important;
}

button:hover {
    color: #040454;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3px !important;
}