<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card routerLink="/equipo">
    <img src="../../assets/icon/favicon.png" />
    <ion-card-header>
      <ion-card-subtitle>Este es tu equipo</ion-card-subtitle>
      <ion-card-title>Real Madrid CF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Juega en el Santiago Bernabeu, Madrid.
    </ion-card-content>
  </ion-card>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
