<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Football Coach</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
  </ion-header> -->
  <!-- <ion-card routerLink="/tabs/equipo">  
    <ion-card-content>
      <img src="../../assets/icon/favicon.png" />
      <h1><b>Real Madrid CF</b></h1>
    </ion-card-content>
  </ion-card>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-item detail="false" button vertical="center" lines="full" routerLink="/tabs/equipo">  
    <ion-label><b>C.D. San Roque E.F.F.</b></ion-label>
    <ion-thumbnail slot="start">
      <img src="../../assets/icon/escudoSanro.png">
    </ion-thumbnail>
    <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
  </ion-item>
  <!-- Red add button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon (click)="abrirModalEquipo()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
