<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="infoAlert()">
          <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Football Staff</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-header collapse="condense">
  </ion-header> -->
  <!-- <ion-card routerLink="/tabs/equipo">  
    <ion-card-content>
      <img src="../../assets/icon/favicon.png" />
      <h1><b>Real Madrid CF</b></h1>
    </ion-card-content>
  </ion-card>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <ion-item *ngIf="equipos.length < 1" detail="false" button vertical="center" lines="full" (click)="abrirModalEquipo()">  
      <ion-label style="text-align: center;" id="primerEquipo"><b>Crea tu primer equipo</b></ion-label>
      <ion-icon name="add" slot="end" color="primary"></ion-icon>
    </ion-item>
<ion-list>
  <ion-item-sliding *ngFor="let equipo of equipos">
  <ion-item detail="false" button vertical="center" lines="full" (click)="getJugadores(equipo.nombre)" routerLink="/tabs/equipo">  
  <!-- *ngFor="let equipo of equipos" -->
  <!-- {{equipo.nombre}} -->
    <ion-label style="text-align: center;" id="nombre"><b>{{equipo.nombre}}</b></ion-label>
    <ion-thumbnail slot="start">
      <img class="align-middle" src="../../assets/icon/tactica.png">
    </ion-thumbnail>
    <ion-icon name="chevron-forward-circle-outline" slot="end" color="primary"></ion-icon>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option (click)="editarEquipo(equipo.nombre)"><ion-icon slot="icon-only" name="pencil-outline"></ion-icon></ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="borrarEquipo(equipo.nombre)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>

  <!-- Red add button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="abrirModalEquipo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
